@import "./../../styles.scss";

//$mobile-width: 768px;

section {
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    height: 90px;
    @include flex-center-center;
    background-color: #141d2f;

    @media (max-width: $mobileWidth) {
        height: 60px;
    }

    > .content-frame {
        @include contentWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a img {
            @include logo;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            @media (max-width: $mobileWidth) {
                display: none;
            }

            > .desktop-nav {
                margin-top: 5px;
                @include flex-center-center;
            }

            > .language-box {
                position: relative;
                top: 7px;
                width: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .globe-icon {
                    margin-left: 34px;
                    margin-top: 3px;
                    height: 19px;
                    width: auto;
                    cursor: pointer;
                }

                .language-selector {
                    position: absolute;
                    z-index: 15;
                    top: 3px;
                    right: 0;
                    left: 15px;
                    transform: translateY(0);
                    display: flex;

                    opacity: 0;
                    visibility: hidden;
                    background-color: $bg-color;
                    transition: opacity 0.125s ease-in-out, visibility 0.3s ease-in-out;

                    p {
                        margin: 0 5px;
                        cursor: pointer;
                        transition: color 0.1s;
                        padding-bottom: 20px;

                        &.active {
                            font-weight: bold;
                            color: $dark-blue;
                        }
                    }
                }

                &:hover .language-selector {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .burger-menu {
            height: 25px;
            width: auto;
            cursor: pointer;

            @media (max-width: $mobileWidth) {
                display: block;
            }

            @media (min-width: $mobileWidth) {
                display: none;
            }

            > img {
                height: 17px;
                width: auto;
            }
        }
    }
}
