
<!-- header.component.html -->
<section>
    <div class="content-frame">
        <a href="#startSection">
            <img src="./assets/img/logo.png" alt="Logo">
        </a>



        <nav>
            <a [class.active-section]="activeSection === 'aboutMe'" href="#aboutMe">About Me</a>
            <a [class.active-section]="activeSection === 'mySkills'" href="#mySkills">My Skills</a>
            <a [class.active-section]="activeSection === 'portfolio'" href="#portfolio">Portfolio</a>
          </nav>




        <div class="burger-menu" (click)="toggleMenu()">
            <img src="./assets/img/burgerMenu.png" alt="Menu">
        </div>
    </div>
    <app-mobile-menu #mobileMenuComponent></app-mobile-menu>
</section>



