@import "./../../styles.scss";

section {
    height: 200px;
    border-top: 4px solid $light-blue;
    @include flex-center-center;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;

    > .inlay {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include contentWidth;

        @media (max-width: $mobileWidth) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        > span {
            font-size: $flow-text-size;
        }
        > a img {
            @include logo;
        }
    }

    > div {
        margin-top: 16px;
        @include flex-center-center;
        gap: 10px;

        > a {
            text-decoration: none;
            color: white;
            font-weight: 200;
        }
    }
}
