@import "./../../../styles.scss";
@import "./../header.component.scss";

.overlay {
    position: fixed;
    top: 0;
    right: -100%; /* Startposition außerhalb des Bildschirms */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition: right 0.3s ease; /* Animiere die rechte Eigenschaft */
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: $mobileWidth) {
        display: none;
    }
}

.header-frame {
    @include contentWidth;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 30px;
        width: auto;
        cursor: pointer;
    }
    .close-btn {
        background-color: #0b0d12;
        height: 40px;
        width: auto;
    }
}

.overlay.active {
    right: 0;
}

.mobile-nav {
    margin-top: 42px;
}

.language-selector {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 22px 10px;
        font-size: 22px;
        cursor: pointer;
        transition: color 0.3s;

        &.active {
            font-weight: bold;
            color: #007bff; /* Beispiel für eine blaue Farbe */
        }
    }
}
