<!-- about-me.component.html -->

<section id="aboutMe">

    <div class="content-frame">

        <div class="text-container">
            <app-text-container></app-text-container>
        </div>

        <div class="portrait-wrapper">
            <img class="bg-portrait" src="./assets/img/bg-portrait.png" alt="">
            <img class="portrait" src="./assets/img/portrait.png" alt="">
        </div>
    </div>
    
    <div class="wave-wrapper">
        <img class="wave" src="./assets/img/bg-wave.png" alt="">
    </div> 


 


    
    


</section> 











    <!-- <div class="text-wrapper">
        <h2>About me</h2>
    </div> -->