@import "./../../styles.scss";

section {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    margin-top: 94px;

    @media (max-width: $mobileWidth) {
        margin-top: 80px;
        overflow: hidden;
    }

    > .content-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;

        @media (max-width: $mobileWidth) {
            justify-content: center;
            flex-direction: column-reverse;
        }

        > .text-container {
            z-index: 4;
            width: 50%;

            @media (max-width: $mobileWidth) {
                width: 100%;
            }
        }

        > .portrait-container {
            position: relative;
            width: 50%;
            height: 750px;
            overflow: visible;

            @media (max-width: $mobileWidth) {
                width: 100%;
                height: 600px;
            }

            @media (max-width: 500px) {
                height: 300px;
            }

            > .bg-portrait {
                position: absolute;
                z-index: 1;
                right: 0;
                height: 150%;
                width: 100%;
                transition: transform 0.25s ease-out;
                transform: rotate(120deg); // Default: rotated 180°
            }

            // When the portrait-container has the active class, rotate the background image to 0°.
            &.active > .bg-portrait {
                transform: rotate(0deg);
            }

            > .portrait {
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                height: 100%;
                width: auto;
            }
        }

        > .wave {
            position: absolute;
            z-index: 3;
            top: 530px;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 300px;
            max-height: 700px;

            @media (max-width: $mobileWidth) {
                top: 390px;
            }

            @media (max-width: 800px) {
                width: 170%;
                right: -70%;
            }

            @media (max-width: 500px) {
                top: 130px;
                width: 250%;
                left: -50%;
                right: -100%;
            }
        }
    }
}
