<!-- about-me.component.html --> 

<section id="aboutMe" #aboutMe>

    <div class="content-wrapper">

        <div class="text-container">
            <app-text-container></app-text-container>
        </div>

        <div class="portrait-container">
            <img class="bg-portrait" src="./assets/img/bg-portrait.png" alt="">
            <img class="portrait" src="./assets/img/portrait.png" alt="">
        </div>

        <img class="wave" src="./assets/img/bg-wave.png" alt="">
    </div>
  
</section>


