@import './../../styles.scss';


section{
    @include flex-center-center;
    height: 250px;
    width: 100vw;
    overflow: hidden; // Verhindert, dass Überläufe den Container erweitern
    >div{
        @include contentWidth;
        
    }
    


    
}
