@import './../../styles.scss';

.overlay {
    position: fixed;
    top: 0;
    right: -100%; /* Startposition außerhalb des Bildschirms */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition: right 0.3s ease; /* Animiere die rechte Eigenschaft */
    display: flex;
}

.content-frame{
    @include contentWidth;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
        width: auto;
        cursor: pointer;
    }
    .close-btn{
            background-color: #0b0d12;
            height: 40px;
            width: auto;
        }
}

.overlay.active {
    right: 0; 
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

 .burger-menu img {
     cursor: pointer;
 }

.overlay-content a {
    text-decoration: none;
    display: block;
    margin: 24px 0;
    font-size: 24px;
    color: white;
}
