@import "./../../../styles.scss";

.skill-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: $mobileWidth) {
    }

    div {
        position: relative;
        height: 74px;
        width: 100%;
        @media (max-width: 650px) {
            height: 54px;
        }

        > img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 6px;
            width: clamp(22px, 6vw, 62px);
            height: auto;
            transition: all 125ms ease-in-out;

            @media (max-width: $mobileWidth) {
                width: clamp(15px, 8vw, 62px);
            }

            &:hover {
                top: 0;
                transition: all 225ms ease-in-out;
            }
        }
    }

    > p {
        margin-top: 28px;
        font-size: 1.2em;
        font-weight: 500;

        @media (max-width: $mobileWidth) {
            font-size: 1em;
        }

        @media (max-width: 500px) {
            font-size: 0.8em;
            margin-top: 0;
        }
    }
}
