<!-- text-container.component.html -->
<div class="text-wrapper">
        <h2>About me</h2>
        <p>{{ getText('aboutMe', 'text1') }}</p>

        <div class="smal-text-box">
            <div class="img-container">
                <img src="./assets/img/bulb.png" alt="">
            </div>
            <div class="txt">
                <p class="description">{{ getText('aboutMe', 'text2') }}</p>
            </div>
        </div>
        <div class="smal-text-box">
            <div class="img-container">
                <img src="./assets/img/puzzle.png" alt="">
            </div>
            <div class="txt">
                <p class="description">{{ getText('aboutMe', 'text3') }}</p>
            </div>
        </div>
    </div>

        