@import "./../../../styles.scss";
@import "./../about-me.component.scss";

.text-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: clamp(500px, 40vw, 700px);

    margin-left: $distance-to-side;
    @media (max-width: $mobileWidth) {
        margin-left: 3vw;
        @include contentWidth;
        margin-top: 44px;
    }
    > h2 {
        margin: 0;
    }
    > p {
        line-height: 20px;
        font-size: $flow-text-size;
    }
}

.smal-text-box {
    line-height: 20px;
    @include flex-center-center;
    font-size: $flow-text-size;
    > .img-container {
        @include flex-center-center;
        height: 100px;
        width: 25%;
        > img {
            width: 50px;
            height: auto;
            @media (max-width: $mobileWidth) {
                width: 40px;
            }
        }
    }
    > .txt {
        width: 75%;
        display: flex;
    }
}
