@import './../../../styles.scss';
@import './../about-me.component.scss';

.text-wrapper{
    height: 100%;
    width: 500px;
    margin-left: $distance-to-side*2;
    
    >h2{
        margin: 0;
        line-height: 90px;
        padding: 0px 0px 24px 0px;
    }
    >p{
        line-height: 20px;
        font-size: 16px;
    }
    
}

.smal-text-box{
    line-height: 20px;
    @include flex-center-center;
    font-size: 16px;
    //@include x;

    >.img-container{
        @include flex-center-center;
        height: 100px;
        width: 25%;
        >img{
            width: 50px;
            height: auto;
        }
    }

    >.txt{
        width: 75%;
        display: flex;
    }

}