
<div class="text-wrapper">

        <h2>About me</h2>
    
        <p>Hi, I'm Tobias, a front-end developer based in St. Gallen, Switzerland, who thrives on solving problems and digitalizing business processes. With a robust background in technical and sales environments, I bring a unique perspective to digital development, combining analytical problem-solving with a communicative approach to deliver straightforward solutions.
        </p>
    
    
        <div class="smal-text-box">
            <div class="img-container">
                <img src="./assets/img/bulb.png" alt="">
            </div>
            <div class="txt">
                <p>My programming journey began with a quest to enhance business operations, quickly evolving into a passion for leveraging web technologies to simplify complex processes and innovate digital interactions.</p>

            </div>
        </div>
    
        <div class="smal-text-box">
            <div class="img-container">
                <img src="./assets/img/puzzle.png" alt="">
            </div>
            <div class="txt">
                <p>I develop user-friendly interfaces and robust backend systems to solve problems and improve workflows. I'm actively expanding my backend skills to tackle complex challenges more effectively.</p>

            </div>
        </div>
        
    </div>

        