<section id="contact">
    <img src="assets/img/darkBlue4.png" alt="Dekoratives Hintergrundbild" />
    <div class="h2-container">
        <div class="line"></div>
        <h2>Contact</h2>
    </div>
    <div class="inlay">
        <div class="text-box">
            <div>
                <p [innerHTML]="getText('contact', 'text1')"></p>
                <span [innerHTML]="getText('contact', 'text2')"></span>
            </div>
        </div>
        <div class="form-box">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</section>
