@import "./../../styles.scss";

$mobileWidth: 1100px;

section {
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(236, 62, 230, 0.342);
    width: 100vw;
    height: 2000px;
    @media (max-width: $mobileWidth) {
        height: 3500px;
    }
    > .h2-container {
        position: relative;
        margin-top: 64px;
        width: 100%;

        > .line {
            position: absolute;
            z-index: 2;
            top: 50%;
            right: 0;
            height: 4px;
            width: 70%;
            background-color: $dark-blue;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        > h2 {
            position: absolute;
            z-index: 3;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            margin: 0;
            background-color: $bg-color;
            padding: 0 20px 0 20px;
        }
    }
    .section-description {
        margin-top: 64px;
        text-align: center;
        font-size: $flow-text-size;
    }
    // test
    > .background {
        box-sizing: border-box;
        width: 100%;
        height: 70%;
        bottom: 0;
        position: absolute;
        z-index: 1;

        > img:nth-child(1) {
            position: absolute;
            left: 0;
            width: 45%;
            height: auto;
        }

        > img:nth-child(2) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    > .project-wrapper {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        @include contentWidth;

        > .project-element {
            display: flex;
            flex-direction: row;
            margin-top: 54px;

            @media (max-width: $mobileWidth) {
                flex-direction: column;
            }

            > div {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                @media (max-width: $mobileWidth) {
                    justify-content: center;
                    width: 100%;
                }

                > img {
                    margin-right: 10%;
                    padding-bottom: 32px;
                    height: 250px;

                    width: auto;

                    @media (max-width: $mobileWidth) {
                        margin: 0;
                        height: 200px;
                    }
                }
            }

            > .details-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                @media (max-width: $mobileWidth) {
                    align-items: center;
                }

                > h3 {
                    font-weight: 700;
                    font-size: 32px;
                    color: $dark-blue;
                    margin: 0 0 0 10%;
                    text-align: center;
                    line-height: 1;

                    @media (max-width: $mobileWidth) {
                        margin: 0;
                    }
                }

                > .technologie {
                    margin-left: 10%;
                    display: flex;

                    @media (max-width: $mobileWidth) {
                        margin-left: 0;
                    }

                    > div {
                        display: flex;

                        > p {
                            margin: 0;
                            font-weight: 400;
                            font-size: $flow-text-size;
                            color: $light-blue;
                            @media (max-width: $mobileWidth) {
                                margin-bottom: 10px;
                            }

                            > span {
                                margin: 0;
                                padding: 0 12px 0 10px;
                            }
                        }

                        &:last-child {
                            > p span {
                                display: none;
                            }
                        }
                    }
                }

                > .description {
                    margin-left: 10%;
                    font-size: $flow-text-size;

                    @media (max-width: $mobileWidth) {
                        margin: 0;
                        width: 80%;
                        text-align: center;
                    }

                    @media (max-width: $mobileWidth) {
                        width: 100%;
                    }
                }

                > .button-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 10%;
                    width: 60%;
                    min-width: 380px;
                    height: 80px;

                    @media (max-width: $mobileWidth) {
                        min-width: 0px;
                        margin: 0;
                    }

                    @media (max-width: 600px) {
                        width: 96%;
                    }

                    > a {
                        @include color-btn;
                        background-color: $dark-blue;

                        &:hover {
                            transition: all 100ms ease-in-out;
                            //width: 165px;
                            //height: 58px;
                            background-color: $light-blue;
                        }

                        &:last-child {
                            transition: all 100ms ease-in-out;
                            background-color: transparent;
                            border: 1px solid $light-blue;

                            &:hover {
                                background-color: $light-blue;
                            }
                        }
                    }
                }
            }

            &.project-element:nth-child(2n + 2) {
                @media (min-width: $mobileWidth) {
                    flex-direction: row-reverse;

                    > div {
                        justify-content: flex-start;

                        > img {
                            margin-left: 6%;
                        }
                    }

                    > .details-container {
                        justify-content: center;
                        align-items: flex-end;

                        > h3 {
                            margin-right: 16%;
                        }

                        > .technologie {
                            margin-right: 16%;
                        }

                        > .description {
                            margin-right: 16%;
                            text-align: right;
                        }

                        > div:last-child {
                            margin-right: 16%;
                        }
                    }
                }
            }
        }
    }
}
