@import "./../../styles.scss";

$mobileWidth: 1100px;

section {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    background: url("/assets/img/greenshadow2.png") no-repeat left top, url("/assets/img/lightBlue2.png") no-repeat right bottom;
    background-size: 35% auto, 30% auto;

    > .h2-container {
        position: relative;
        height: 150px;
        width: 100%;
        z-index: 1;
        margin-top: 100px;
        @media (max-width: $mobileWidth) {
            margin-top: 54px;
            padding-top: 94px;
            height: 80px;
        }
        > .line {
            position: absolute;
            top: 50%;
            right: 0;
            height: 4px;
            width: 0; // Start: no width
            background-color: $dark-blue;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            transition: width 0.125s ease-in-out;
        }

        // whenn user scroll portfolio
        &.active > .line {
            width: 70%;
        }
        > h2 {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            margin: 0;
            background-color: $bg-color;
            padding: 0 20px;
        }
    }

    > .section-description {
        font-size: $flow-text-size;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 64px;
        position: relative;
        //z-index: 1;
        @media (max-width: $mobileWidth) {
            margin-top: 34px;
        }
        > p {
            text-align: center;
            width: 50%;
            position: relative;
            z-index: 1;
            @media (max-width: $mobileWidth) {
                margin-top: 0;
                width: 100%;
                @include contentWidth;
            }
        }
    }

    > .project-wrapper {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        @include contentWidth;

        > .single-project-element {
            display: flex;
            flex-direction: row;
            margin-top: 124px;
            &:first-child {
                margin-top: 84px;
            }
            @media (max-width: $mobileWidth) {
                flex-direction: column;
                margin-top: 64px;
                &:first-child {
                    margin-top: 34px;
                }
            }

            > div {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                @media (max-width: $mobileWidth) {
                    justify-content: center;
                    width: 100%;
                }
                > img {
                    margin-right: 10%;
                    padding-bottom: 32px;
                    height: 220px;
                    width: auto;
                    @media (max-width: $mobileWidth) {
                        margin: 0;
                        height: 190px;
                    }
                }
            }

            > .details-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                @media (max-width: $mobileWidth) {
                    align-items: center;
                }
                > h3 {
                    font-weight: 700;
                    font-size: 32px;
                    color: $dark-blue;
                    margin: 0 0 0 10%;
                    text-align: center;
                    line-height: 1;
                    @media (max-width: $mobileWidth) {
                        margin: 0;
                        font-size: 26px;
                    }
                }
                > .technologie {
                    margin-left: 10%;
                    margin-top: 20px;
                    display: flex;
                    @media (max-width: $mobileWidth) {
                        margin-left: 0;
                    }
                    > div {
                        display: flex;
                        > p {
                            margin: 0;
                            font-weight: 400;
                            font-size: 24px;
                            color: $light-blue;
                            @media (max-width: $mobileWidth) {
                                margin-bottom: 20px;
                                font-size: 18px;
                            }
                            > span {
                                margin: 0;
                                padding: 0 12px 0 10px;
                            }
                        }
                        &:last-child {
                            > p span {
                                display: none;
                            }
                        }
                    }
                }
                > .description {
                    margin-left: 10%;
                    font-size: $flow-text-size;
                    @media (max-width: $mobileWidth) {
                        margin: 0;
                        width: 90%;
                        text-align: center;
                    }
                }
                > .button-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 10%;
                    width: 70%;
                    min-width: 380px;
                    height: 80px;
                    @media (max-width: $mobileWidth) {
                        width: 60%;
                        min-width: 0;
                        margin: 0;
                    }
                    @media (max-width: 600px) {
                        width: 90%;
                    }
                    > a {
                        @include color-btn;
                        background-color: $dark-blue;
                        &:hover {
                            background-color: $light-blue;
                        }
                        &:first-child:hover {
                            transform: translateX(-5px);
                        }
                        &:last-child {
                            background-color: transparent;
                            border: 1px solid $light-blue;
                            &:hover {
                                background-color: $light-blue;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }

            &.single-project-element:nth-child(2n + 2) {
                @media (min-width: $mobileWidth) {
                    flex-direction: row-reverse;
                    > div {
                        justify-content: flex-start;
                        > img {
                            margin-left: 6%;
                        }
                    }
                    > .details-container {
                        justify-content: center;
                        align-items: flex-end;
                        > h3 {
                            margin-right: 16%;
                        }
                        > .technologie {
                            margin-right: 16%;
                        }
                        > .description {
                            margin-right: 16%;
                            text-align: right;
                            margin-left: 0;
                        }
                        > div:last-child {
                            margin-right: 16%;
                        }
                    }
                }
            }
        }
    }
}
