<section id="startSection">
    <div class="backdrop">
        <img src="./assets/img/darkBlue1.png" alt="">
        <img src="./assets/img/lightBlue1.png" alt="">
    </div>


        <div class="title-wrapper">
            <div class="title-box-left">
                <p>i am</p>
            </div>
            <div class="title-box-right">
                <h1>Tobias Hungerbühler</h1>
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>


    <a href="#contact">
        <div class="button">Let’s talk!</div>
    </a>
</section>
