@import "./../../styles.scss";

// $line-width: 100px;
// $img-gap: 30px;

section {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    > .backdrop {
        width: 100%;
        height: 100%;

        > .img-left {
            position: absolute;
            left: 0;
            top: 150px;
            height: auto;
            width: 28%;
            max-width: 500px;
            transform-origin: left center;
            animation: float 8s ease-in-out infinite;

            @media (max-width: $mobileWidth) {
                //margin-bottom: 60%;
                width: 40%;
            }
        }

        > .img-right {
            position: absolute;
            bottom: 0;
            right: 0;
            height: auto;
            max-width: 48%;
            transform-origin: right center;
            animation: float 8s ease-in-out infinite 2s; // Start mit Verzögerung, um den Effekt asynchron zu machen
            @media (max-width: $mobileWidth) {
                width: 34%;
            }
        }
    }

    > .title-wrapper {
        @include flex-center-center;
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include x;
        max-width: $content-limit;

        @media (max-width: $mobileWidth) {
            top: 40%;
        }

        > .title-box-left {
            @include flex-center-center;
            width: clamp(2px, 0.8vw, 30px);
            padding-right: clamp(12px, 2.8vw, 32px);

            > p {
                margin: 0;
                transform: rotate(-90deg);
                font-size: clamp(16px, 4.2vw, 54px);
                font-weight: 400;
                white-space: nowrap;
                @media (max-width: $mobileWidth) {
                    font-size: clamp(18px, 6.7vw, 65px);
                    padding-bottom: 20px;
                    font-weight: 400;
                }
            }
        }

        > .title-box-right {
            > h1 {
                font-size: clamp(22px, 6vw, 78px);
                font-weight: 700;
                margin: 0;
                white-space: nowrap;
                line-height: 0.7em;
                @media (max-width: $mobileWidth) {
                    white-space: normal;
                    line-height: 0.8em;
                }
            }

            > p {
                font-size: clamp(14px, 3vw, 42px);
                margin: 0;
                margin-top: clamp(5px, 2vw, 22px);
                padding: 0;
                color: $dark-blue;
                line-height: 0.9em;
            }
        }
    }

    .button {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
        @include color-btn;
    }

    .line-box {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 30px;
        display: flex;
        align-items: center;

        > .line {
            position: absolute;
            left: 0;
            height: 4px;
            background-color: $light-blue;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            // Basisbreite 50px plus zusätzlichen Platz, falls verfügbar:
            width: calc(70px + max(0px, (100vw - #{$content-limit}) / 3));

            @media (max-width: 769px) {
                width: 70px;
            }
        }

        // Neuer Container für die Link-Box
        > .link-container {
            width: 100%;
            @include contentWidth;
            max-width: $content-limit;
            margin: 0 auto; // Zentriert den Container
            //padding-left: $line-width + $img-gap; // Abstand von der Linie zur Link-Box
            display: flex;
            justify-content: flex-start;
            // Optional: Falls du auf mobilen Geräten den Abstand anpassen möchtest
            @media (max-width: $mobileWidth) {
                padding-left: 0;
                justify-content: center;
            }
        }
    }
    > .scroll-container {
        position: absolute;
        @include contentWidth;
        bottom: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > .scroll-box-wrapper {
            position: relative;
            /* Keine Rotation hier, damit die Flex-Positionierung korrekt wirkt */

            > .scroll-box {
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: right center;
                transform: rotate(90deg) translateY(32%);

                @media (max-width: 769px) {
                    display: none;
                }

                > p {
                    margin: 0;
                    font-size: 1.6em;
                }

                > img {
                    transform: rotate(-90deg);
                    margin-left: 10px;
                    height: 2em;
                    width: auto;
                }
            }
        }
    }
}

/* Keyframes für den Float-Effekt */
@keyframes float {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-25px) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
