<section>
    <img src="./assets/img/darkBlue1.png" alt="">
    <img src="./assets/img/lightBlue1.png" alt="">

    <!-- <div class="overlay"> -->

        <div class="title-wrapper">
            <div class="title-box-left">
                <p>i am</p>
            </div>
            <div class="title-box-right">
                <h1>Tobias Hungerbühler</h1>
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>

    <!-- </div> -->
    
    <!-- <button>Let’s talk!</button> -->
</section>
