@import "./../../styles.scss";

section {
    width: 100vw;
    @include flex-center-center;

    > .inlay {
        margin-top: 90px;
        width: 84vw;
        margin-bottom: 60px;

        h2 {
            font-size: 22px;
        }

        > p {
            font-size: $flow-text-size;
        }
    }
}
