<div class="img-wrapper">
    <a href="https://github.com/TobiasHungerbuehler" target="_blank" rel="noopener noreferrer">
        <img src="./assets/img/icons/github.png" alt="GitHub" />
    </a>
    <a href="mailto:to.hungerbuehler@gmail.com" target="_blank" rel="noopener noreferrer">
        <img src="./assets/img/icons/email.png" alt="Email" />
    </a>
    <a href="https://linkedin.com/in/tobias-hungerbühler-04b916215" target="_blank" rel="noopener noreferrer">
        <img src="./assets/img/icons/linkedin.png" alt="LinkedIn" />
    </a>
</div>
