<section id="mySkills">

    <div class="conten-wrapper">

        
        <div class="skill-container">

            <img src="./assets/img/left-blue 1.png" alt="">

            <div class="elements-wrapper">
                @for (group of skillGroups; track group;) {
                    <div class="column">
                        @for (skill of group.skills; track skill; let i = $index; ) {
                            <div class="skill-element">
                                <div>
                                    <img src="./assets/img/skills/{{skill.img}}" alt="">
                                </div>
                                <p>{{skill.name}}</p>
                            </div>
                        }
                    </div>
                }
            </div>



            <a href="#contact">
                <div class="button">Get in touch</div>
            </a>

        </div>

        <div class="text-container">

                <div class="h2-wrapper">
                    <h2>My skills</h2>
                    <div class="line"></div>
                </div>
                 
                <p>{{ getText('mySkills', 'text1') }}</p>

                <div>
                    <a href="#contact">
                        <div class="button">Get in touch</div>
                    </a>
                </div>
        </div>
    
    </div>

</section> 


