@import './../../styles.scss';


section{
    position: absolute;
    z-index: 7;
    @include flex-center-center;
    height: 250px;
    width: 100vw;

    >div{
        position: relative;
        @include contentWidth;
        //top: -200px;
    }
    


    
}
