/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(199, 196, 196);
    font-family: "Poppins", sans-serif;
    color: white;
}




