/******************************************
 * Global Design Tokens & Variables
 ******************************************/

// Color Palette
$light-blue: #00bee8;
$dark-blue: #4b47ff;
$bg-color: #141d2f;

// Global Text Sizes
$flow-text-size: clamp(14px, 1.6vw, 16px);

// Layout Variables
$distance-to-side: 8vw; // Distance from inner content to viewport side
$mobileWidth: 1100px; // Mobile breakpoint

/******************************************
 * Global Mixins
 ******************************************/

// Inner content width (responsive)
@mixin contentWidth() {
    width: 84vw;
    max-width: 1920px;

    @media (max-width: $mobileWidth) {
        width: 94%;
    }
}

// Flexbox Centering
@mixin flex-center-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Debug Outline (optional)
@mixin x() {
    border: 1px solid rgba(255, 255, 0, 0.5);
}

// Basic Button Design
@mixin color-btn() {
    @include flex-center-center;
    width: 165px;
    height: 58px;
    font-size: clamp(16px, 1.5em, 23px);
    color: white;
    text-decoration: none;
    background-color: $light-blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: $dark-blue;
        width: 175px;
        height: 68px;
    }

    @media (max-width: $mobileWidth) {
        width: 130px;
        height: 44px;
        font-size: 16px;
        &:hover {
            width: 140px;
            height: 54px;
        }
    }
}

// Logo Design
@mixin logo() {
    height: 40px;
    width: auto;
    cursor: pointer;

    @media (max-width: $mobileWidth) {
        height: 22px;
    }
}

/******************************************
 * Global Styles & Resets
 ******************************************/

// H2 Template
h2 {
    font-size: clamp(40px, 7vw, 90px);
    font-weight: 700;
}

// Set smooth scrolling behavior
html {
    scroll-behavior: smooth;
    display: block;
    // Hide scrollbars in Firefox
    scrollbar-width: none;
}

// Global body settings
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $bg-color;
    font-family: "Poppins", sans-serif;
    color: white;
    /* Ensure body covers full viewport */
    height: 100vh;
    width: 100vw;
    /* Hide scrollbars in IE/Edge and WebKit browsers */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

// Hide scrollbars in Chrome, Safari, and Opera
body::-webkit-scrollbar {
    display: none;
}

// Utility Class: Hide element
.d-none {
    display: none;
}
