@import "./../../../styles.scss";
@import "./../header.component.scss";

.link-box {
    padding-left: 32px;

    > a {
        text-decoration: none;
        font-size: 23px;
        color: rgb(255, 255, 255);
        transition: all 125ms ease-in-out;
        cursor: pointer;
        &:hover {
            transition: all 125ms ease-in-out;
            color: $light-blue;
        }
    }
    > .under-line {
        background-color: transparent;
        height: 3px;
        width: 60px;
        margin-top: 4px;
    }

    @media (min-width: $mobile-width) {
        &:last-child {
            display: none;
        }
    }
}

.link-box-on {
    transition: all 125ms ease-in-out;
    > a {
        color: $light-blue;
    }
    > .under-line {
        background-color: $dark-blue;
    }
}
